.input-box {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content:space-between;
}

input {
    padding: 17px;
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
}

.create-button {
    width: 17%;
    padding: 15px 0px;
    background-color: rgba(23, 139, 81, 0.993);
    border: 3px solid rgba(23, 139, 81, 0.993);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}